<ion-header>
  <ion-toolbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon mode="ios" name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'resetPassword.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding no-bounce>
  <div class="pay-authentication-wrapper">
    <a class="pay-logo"></a>

    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="sendPassword()"
      class="pay-authentication"
      novalidate>

      <div class="pay-authentication-form">
        <div class="form-group">
          <ion-label position="stacked">
            {{ 'resetPassword.passwordLabel' | translate }}
          </ion-label>
          <ion-input
            [ngClass]="{
              'is-valid': isControlStatus('password', 'valid'),
              'is-invalid': isControlStatus('password', 'invalid')
            }"
            formControlName="password"
            type="password"
            autocomplete="off"
            placeholder="{{ 'resetPassword.passwordPlaceholder' | translate }}">
          </ion-input>
          <div *ngIf="isControlStatus('password', 'invalid')" class="invalid-feedback">
            <div
              class="error"
              *ngIf="resetPasswordForm.get('password').hasError('required')">
              Password is required
            </div>
            <div
              class="error"
              *ngIf="resetPasswordForm.get('password').hasError('pattern')">
              Your password must contain at least 1 uppercase letter, 1 lowercase letter, 1 special character(@$!%*?#&), 1 digit.
            </div>
            <div
              class="error"
              *ngIf="resetPasswordForm.get('password').hasError('minlength')">
              Minimum password length is 7 characters
            </div>
            <div
              class="error"
              *ngIf="resetPasswordForm.get('password').hasError('maxlength')">
              Maximum password length is 30 characters
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <ion-label position="stacked">
            {{ 'resetPassword.confirmPasswordLabel' | translate }}
          </ion-label>
    
          <ion-input
            [ngClass]="{
              'is-valid': isControlStatus('confirmPassword', 'valid'),
              'is-invalid': isControlStatus('confirmPassword', 'invalid')
            }"
            formControlName="confirmPassword"
            type="password"
            autocomplete="off"
            placeholder="{{ 'resetPassword.confirmPasswordPlaceholder' | translate }}">
          </ion-input>
          <div *ngIf="isControlStatus('confirmPassword', 'invalid')" class="invalid-feedback">
            <div
              class="error"
              *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
              Confirm password is required
            </div>
            <div
              class="error"
              *ngIf="resetPasswordForm.get('confirmPassword').hasError('compare')">
              {{ 'changePassword.notification' | translate }}
            </div>
          </div>
        </div>

        <button
          [disabled]="resetPasswordForm.invalid"
          type="submit"
          class="pay-main-button">
  
          {{ 'resetPassword.title' | translate }}
        </button>
      </div>
    </form>
  </div>
</ion-content>
