<ion-content overflow-scroll="true" class="ion-padding">
  <ion-refresher (ionRefresh)="refresh($event)" slot="fixed">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="dots">
    </ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="purchaseList && purchaseList.length > 0">
    <ion-card
      *ngFor="let purchase of purchaseList"
      (click)="openPurchaseDetails(purchase)">
      <ion-card-content class="pay-card-content-wrapper">
        <svg-icon 
          [ngClass]="currencyNameStyle(purchase.currencyName)" 
          src="./assets/images/coin-icons/{{purchase.currencyCode}}.svg"></svg-icon>
        <div class="pay-card-content-wrapper-description">
          <span
            class="wallet-currency-name"
            [ngClass]="currencyNameStyle(purchase.currencyName)">
            {{ purchase.amount }} {{ purchase.currencyCode }} 
          </span>
          <div class="wallet-name">{{ purchase.fromAddress }}</div>
          <div class="wallet-name">
            {{ purchase.createdAt | date: "MMM d, y - H:mm:ss" }}
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="loadMoreTransactions($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

  <app-not-found
    *ngIf="purchaseList.length === 0"
    [message]="message"
    [title]="title">
  </app-not-found>
</ion-content>

