<ion-header>
  <ion-toolbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon mode="ios" name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ 'changePassword.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding no-bounce>
  <form
    [formGroup]="changePassForm"
    class="pay-authentication"
    (ngSubmit)="changePassword()"
    novalidate>

    <div class="form-group">
      <ion-label position="stacked">
        {{ 'changePassword.labelOld' | translate }}
      </ion-label>

      <ion-input
        [ngClass]="{
          'is-valid': isControlStatus('oldPassword', 'valid'),
          'is-invalid': isControlStatus('oldPassword', 'invalid')
        }"
        formControlName="oldPassword"
        type="password"
        autocomplete="off"
        placeholder="{{ 'changePassword.placeholderOld' | translate }}"
        name="password">
      </ion-input>
      <div *ngIf="isControlStatus('oldPassword', 'invalid')" class="invalid-feedback">
        <div
          class="error"
          *ngIf="changePassForm.get('oldPassword').hasError('required')">
          Old password is required
        </div>
        <div
          class="error"
          *ngIf="changePassForm.get('oldPassword').hasError('minlength')">
          Minimum old password length is 7 characters
        </div>
        <div
          class="error"
          *ngIf="changePassForm.get('oldPassword').hasError('maxlength')">
          Maximum old password length is 30 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <ion-label position="stacked">
        {{ 'changePassword.labelNew' | translate }}
      </ion-label>

      <ion-input
        [ngClass]="{
          'is-valid': isControlStatus('newPassword', 'valid'),
          'is-invalid': isControlStatus('newPassword', 'invalid')
        }"
        formControlName="newPassword"
        type="password"
        autocomplete="off"
        placeholder="{{ 'changePassword.placeholderNew' | translate }}"
        name="password">
      </ion-input>
      <div *ngIf="isControlStatus('newPassword', 'invalid')" class="invalid-feedback">
        <div
          class="error"
          *ngIf="changePassForm.get('newPassword').hasError('required')">
          New password is required
        </div>
        <div
          class="error"
          *ngIf="changePassForm.get('newPassword').hasError('pattern')">
          Your new password must contain at least 1 uppercase letter, 1 lowercase letter, 1 special character(@$!%*?#&), 1 digit.
        </div>
        <div
          class="error"
          *ngIf="changePassForm.get('newPassword').hasError('minlength')">
          Minimum new password length is 7 characters
        </div>
        <div
          class="error"
          *ngIf="changePassForm.get('newPassword').hasError('maxlength')">
          Maximum new password length is 30 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <ion-label position="stacked">
        {{ 'changePassword.labelConfirm' | translate }}
      </ion-label>

      <ion-input
        [ngClass]="{
          'is-valid': isControlStatus('confirmPassword', 'valid'),
          'is-invalid': isControlStatus('confirmPassword', 'invalid')
        }"
        formControlName="confirmPassword"
        type="password"
        autocomplete="off"
        placeholder="{{ 'changePassword.labelConfirm' | translate }}">
      </ion-input>
      <div *ngIf="isControlStatus('confirmPassword', 'invalid')" class="invalid-feedback">
        <div
          class="error"
          *ngIf="changePassForm.get('confirmPassword').hasError('required')">
          Confirm new password is required
        </div>
        <div
          class="error"
          *ngIf="changePassForm.get('confirmPassword').hasError('compare')">
          {{ 'changePassword.notification' | translate }}
        </div>
      </div>
    </div>

    <button
      [disabled]="changePassForm.invalid || showLoading"
      type="submit"
      class="pay-main-button">

      {{ 'common.change' | translate }}
    </button>
  </form>
</ion-content>
