<ion-header>
  <ion-toolbar hideBackButton>
    <ion-buttons left>
      <button icon-only (click)="goBack()">
        <ion-icon mode="ios" name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'forgotPassword.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding no-bounce>
  <div class="pay-authentication-wrapper">
    <a class="pay-logo"></a>

    <form
      [formGroup]="forgotPassForm"
      (ngSubmit)="sendEmail()"
      class="pay-authentication"
      novalidate>

      <div class="pay-authentication-form">

        <div class="form-group">
          <ion-label position="stacked">
            {{ 'forgotPassword.label' | translate }}
          </ion-label>
          <ion-input
            [ngClass]="{
              'is-valid': isControlStatus('email', 'valid'),
              'is-invalid': isControlStatus('email', 'invalid')
            }"
            formControlName="email"
            type="email"
            autocomplete="off"
            placeholder="{{ 'forgotPassword.placeholder' | translate }}"
            name="emailInput">
          </ion-input>
          <div *ngIf="isControlStatus('email', 'invalid')" class="invalid-feedback">
            <div
              class="error"
              *ngIf="forgotPassForm.get('email').hasError('required')">
              Email is required
            </div>
            <div
              class="error"
              *ngIf="forgotPassForm.get('email').hasError('email')">
              Invalid email
            </div>
          </div>
        </div>
  
        <button
          [disabled]="forgotPassForm.invalid"
          type="submit"
          class="pay-main-button">
  
          {{ 'common.send' | translate }}
        </button>
      </div>
    </form>
  </div>
</ion-content>
