<ion-header>
  <ion-toolbar hideBackButton>
    <ion-buttons left>
      <button (click)="clearAndSignIn()">
        <ion-icon mode="ios" name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'enterPassword.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding no-bounce>
  <div class="pay-authentication-wrapper">
    <a class="pay-logo"></a>

    <form
      [formGroup]="signInForm"
      class="pay-authentication"
      (ngSubmit)="signIn()"
      novalidate>

      <div class="pay-authentication-form">
        <div class="form-group">
          <ion-label position="stacked">
            {{ 'enterPassword.label' | translate }}
          </ion-label>
          <ion-input
            [ngClass]="{
              'is-valid': isControlStatus('userPassword', 'valid'),
              'is-invalid': isControlStatus('userPassword', 'invalid')
            }"
            formControlName="userPassword"
            type="password"
            autocomplete="off"
            placeholder="{{ 'enterPassword.placeholder' | translate }}">
          </ion-input>
          <div *ngIf="isControlStatus('userPassword', 'invalid')" class="invalid-feedback">
            <div
              class="error"
              *ngIf="signInForm.get('userPassword').hasError('required')">
              Password is required
            </div>
            <div
              class="error"
              *ngIf="signInForm.get('userPassword').hasError('minlength')">
              Minimum password length is 7 characters
            </div>
            <div
              class="error"
              *ngIf="signInForm.get('userPassword').hasError('maxlength')">
              Maximum password length is 30 characters
            </div>
          </div>
        </div>
  
        <button
          [disabled]="signInForm.invalid"
          type="submit"
          class="pay-main-button">
          {{ 'common.signIn' | translate }}
        </button>
        
        <div class="pay-forgot-password-link">
          <a [routerLink]="['/forgot-password']">
            {{ 'common.forgotPassword' | translate }}
          </a>
        </div>
      </div>
    </form>
  </div>
</ion-content>
