<ion-content padding no-bounce>
  <div class="exchange-result-wrapper">
    <div class="successfull-wrapper" *ngIf="!error">
      <ion-icon name="checkmark-circle"></ion-icon>
      <h1 class="successfull-wrapper-title">Successful!</h1>
      <button
        ion-button
        full
        class="pay-main-button"
        [routerLink]="['/change-type-of-verification']">

        OK
      </button>
    </div>

    <div class="cancel-wrapper" *ngIf="error">
      <ion-icon name="close-circle"></ion-icon>
      <h1 class="cancel-wrapper-title">Cancelled!</h1>

      <button
        ion-button
        full
        class="pay-main-button"
        [routerLink]="['/change-type-of-verification']">

        Try again
      </button>
    </div>
  </div>
</ion-content>
