<ion-header>
  <ion-toolbar hideBackButton>
    <ion-buttons left>
      <button (click)="closeModal()" ion-button icon-only>
        <ion-icon mode="ios" name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> {{ 'incomingTransactionDetails.title' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf='transaction'>
    <div class="details-wrapper-information">
      <h2>{{ 'incomingTransactionDetails.amount' | translate }}</h2>
      <p>
        {{ transaction.amount }} {{ transaction.currencyCode }}
      </p>
    </div>

    <div class="details-wrapper-information" *ngIf="transaction.fromAddress">
      <h2>{{ 'incomingTransactionDetails.fromAddress' | translate }}</h2>
      <p class="details-wrapper-wallet-address">
        <span>{{ transaction.fromAddress }}</span>
        <ion-icon
          class="copy-icon"
          name="ios-copy"
          (click)="successCopy(transaction.fromAddress)">
        </ion-icon>
      </p>
    </div>

    <div class="details-wrapper-information">
      <h2>{{ 'incomingTransactionDetails.toAddress' | translate }}</h2>
      <p class="details-wrapper-wallet-address">
        <span>{{ transaction.toAddress }}</span>
        <ion-icon
          class="copy-icon"
          name="ios-copy"
          (click)="successCopy(transaction.toAddress)">
        </ion-icon>
      </p>
    </div>

    <div class="details-wrapper-information" *ngIf="transaction.blockchainHash">
      <h2>{{ 'incomingTransactionDetails.transactionId' | translate }}</h2>
      <p class="details-wrapper-wallet-address">
        <span>{{ transaction.blockchainHash }}</span>
        <ion-icon
          class="copy-icon"
          name="ios-copy"
          (click)="successCopy(transaction.blockchainHash)">
        </ion-icon>
      </p>
    </div>
    
    <div class="details-wrapper-information">
      <h2>{{ 'incomingTransactionDetails.createdAt' | translate }}</h2>
      <p>{{ transaction.createdAt | date: 'MMM d, y - H:mm:ss' }}</p>
    </div>

    <div class="details-wrapper-information">
      <h2>{{ 'incomingTransactionDetails.type' | translate }}</h2>
      <p>{{ transaction.type | titlecase}}</p>
    </div>

    <div *ngIf="transaction.notes" class="details-wrapper-information">
      <h2>{{ 'incomingTransactionDetails.notes' | translate }}</h2>
      <p> {{ transaction.notes }} </p>
    </div>
  </div>
</ion-content>
